$font-stake: 'Open Sans', sans-serif;
$primary-color: rgba(#222022, 0.92);
$secondary-color: #eafc40;
$show-home-image: true;
$home-image: url(../images/main-bg.jpeg);
$opacity: 0.80;
$theme-light: white;
$theme-dark:rgba(#000000, 0.9);
