// BASE DESIGN

body {
  @include background();
  background-color: $primary-color;
  height: 100%;
  color: set-text-color($primary-color);
  font-family: $font-stake;
  font-weight: 300;
  line-height: 1.5;
  font-size: 1rem;
  letter-spacing: 1px;
}

a {
  color: white;
}
